#page{
 perspective: 1500px;
}
.display{
  width: 320px;
  height: 480px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  border-left: 14px solid #000;
  border-right: 14px solid #000;
  border-top: 98px solid #000;
  border-bottom: 98px solid #000;
  border-radius: 25px;
  transition: all .5s;
  backface-visibility: hidden;
}
.right .display{
  transform: rotateY(-12deg);
}
.left .display{
  transform: rotateY(12deg);
}
.topper .display{
  transform: rotateX(12deg);
}
.topper.right .display{
  transform: rotateX(12deg) rotateY(-12deg);
}
.topper.left .display{
  transform: rotateX(12deg) rotateY(12deg);
}
.bottomer .display{
  transform: rotateX(-12deg);
}
.bottomer.right .display{
  transform: rotateX(-12deg) rotateY(-12deg);
}
.bottomer.left .display{
  transform: rotateX(-12deg) rotateY(12deg);
}
.display img{
  width: 350px;
  height: auto;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 0;
  transition: all .5s;
  backface-visibility: hidden;
}
.right .display img{
  transform: translate3d(15px, 0, 0);
}
.left .display img{
  transform: translate3d(-15px, 0, 0);
}
.topper .display img{
  transform: translate3d(0, 15px, 0);
}
.topper.right .display img{
  transform: translate3d(15px, 15px, 0);
}
.topper.left .display img{
  transform: translate3d(-15px, 15px, 0);
}
.bottomer .display img{
  transform: translate3d(0, -15px, 0);
}
.bottomer.right .display img{
  transform: translate3d(15px, -15px, 0);
}
.bottomer.left .display img{
  transform: translate3d(-15px, -15px, 0);
}
.icon{
  position: relative;
  margin: 18px 11px;
  width: 57px;
  height: 57px;
  float: left;
  background: #CFCFCF;
  border-radius: 13px;
  z-index: 2;
}
